Repository sjova/aircraft-seat-map: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

fixed firebase after updates
  .prettierignore
  angular.json
  firebase.json
  package.json
  yarn.lock
Due: prettier --write

prepare validation for integration, misc cleanup
  .gitignore
  src/aircraft-seat-map/components/seat-map/seat-map.component.scss
  src/aircraft-seat-map/components/seat-map/seat-map.component.ts
  src/aircraft-seat-map/components/seat-map/styles/_extends.scss
  src/aircraft-seat-map/containers/flight-summary/flight-summary.component.scss
  src/aircraft-seat-map/containers/seat-map-selection/seat-map-selection.component.scss
  src/aircraft-seat-map/containers/seat-map-selection/seat-map-selection.component.ts
  src/aircraft-seat-map/containers/seat-map-selection/styles/_extends.scss
  src/aircraft-seat-map/models/flights-seat-map-api-response-v2.ts.temp
  src/aircraft-seat-map/shared/helpers/normalize/normalize-response.ts
  src/aircraft-seat-map/shared/helpers/normalize/reduce-passengers.ts
  src/aircraft-seat-map/shared/helpers/validators/validate-cabin-row.ts
  src/aircraft-seat-map/shared/helpers/validators/validate-cabin.ts
  src/aircraft-seat-map/shared/helpers/validators/validate-enum-types.ts
  src/aircraft-seat-map/shared/helpers/validators/validate-flight-info.ts
  src/aircraft-seat-map/shared/helpers/validators/validate-flights-seat-map-api-response.ts
  src/aircraft-seat-map/shared/helpers/validators/validate-header.ts
  src/aircraft-seat-map/shared/helpers/validators/validate-object-enum.ts
  src/aircraft-seat-map/shared/helpers/validators/validate-object.ts
  src/aircraft-seat-map/shared/helpers/validators/validate-offer.ts
  src/aircraft-seat-map/shared/helpers/validators/validate-passenger.ts
  src/aircraft-seat-map/shared/helpers/validators/validate-row-item.ts
  src/aircraft-seat-map/shared/services/flight-seat-map/flight-seat-map.service.ts
  src/aircraft-seat-map/shared/styles/_extends.scss
  src/app/styles/_variables.scss
  tsconfig.json
Due: eslint --cache --fix, stylelint --fix, prettier --write

update ignored files
  .eslintcache
  .gitignore
  .prettierignore
Due: none

quick fix
  .eslintcache
  .gitignore
  src/aircraft-seat-map/components/seat-map/seat-map.component.scss
Due: stylelint --fix, prettier --write

small adjustments and cleanup
  .prettierignore
  src/aircraft-seat-map/containers/flight-summary/flight-summary.component.html
  src/aircraft-seat-map/containers/flight-summary/flight-summary.component.scss
  src/aircraft-seat-map/models/flights-seat-map-api-response-v2.ts.temp
  src/aircraft-seat-map/shared/helpers/validators/validate-flights-seat-map-api-response.ts
  src/aircraft-seat-map/shared/helpers/validators/validate-header.ts
Due: eslint --cache --fix, stylelint --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.ts
  stylelint --fix: any of: *.scss
  prettier --write: any of: *.{ts,scss,md,json,html}
